<div class="container ">
  <div class="row">
    <div class="col-12 text-center not__found__container">
      <h2>404 </h2>
      <h1 class="py-3">صفحه مورد نظر پیدا نشد!</h1>
      <div>
        <p>
            متاسفانه صفحه مورد پیدا نشد یا احتمالا صفحه حذف شده 
        </p>
      </div>
      <div class="btn-group btn-group-sm">
          <a class="btn btn-outline-info">بازگشت</a>
        <a href="/" class="btn btn-info">خانه</a>
      </div>
    </div>
  </div>
</div>
