.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/login.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
}

.login-container{
  width: 500px;
}

.login-form{
  padding: 1rem 2rem;
}