.register {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/register.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
}

.register-container {
  width: 500px;
}

.register-form {
  padding: 1rem 2rem;
  background-color: white;
}
