<div class="container  login-container mt-5">
  <div class="w-100 shadow-lg  rounded row bg-light  ">
    <div class="col-12 ">
      <form action="/users/login" method="POST" class="login-form">
        <%- include('../includes/errors/messages.ejs') %>
        <h1 class="h3 mb-3 font-weight-bold pt-3">لطفا وارد شوید:</h1>
        <label for="fullname" class="py-3 font-weight-bold">ایمیل :</label>
        <input
          type="email"
          id="fullname"
          class="form-control rounded-pill w-100"
          name="email"
          placeholder="ایمیل"
          required
          autofocus
        />

        <label for="password" class="py-3 font-weight-bold">گذرواژه :</label>
        <input
          type="password"
          class="form-control w-100 rounded-pill"
          name="password"
          placeholder="گذرواژه"
          id="password"
          required
        />

        <label for="rememberme" class="py-3 font-weight-bold">مرا به خاطر بسپار</label>
        <input
          type="checkbox"
          class=""
          name="rememberme"
          id="rememberme"
        />
        <a href="/users/register" class="px-2 ">حساب کاربری دارید ؟</a>
        <button type="submit" class="btn btn-info btn-block btn-block w-75 mx-auto font-weight-normal rounded-pill">
          ورود
        </button>
      </form>
    </div>
   
  </div>
</div>
